workflows/AI Content Generator.json
{
  "active": false,
  "connections": {
    "create_folder": {
      "main": [
        [
          {
            "node": "create_outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_brief": {
      "main": [
        [
          {
            "node": "new_lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new_lines": {
      "main": [
        [
          {
            "node": "split_out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input_sections": {
      "main": [
        [
          {
            "node": "section_paragraphs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "section_text": {
      "main": [
        [
          {
            "node": "25_percent_chance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "add_2_new_lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_introduction": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "final_article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "final_article": {
      "main": [
        [
          {
            "node": "final_article_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive_topic": {
      "main": [
        [
          {
            "node": "add_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_row": {
      "main": [
        [
          {
            "node": "topic_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "topic_variables": {
      "main": [
        [
          {
            "node": "create_folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "markdown_to_file": {
      "main": [
        [
          {
            "node": "upload_outline_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_out": {
      "main": [
        [
          {
            "node": "section_starts_with_#",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "section_starts_with_#": {
      "main": [
        [
          {
            "node": "set_introduction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "input_sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "25_percent_chance": {
      "main": [
        [
          {
            "node": "change_section_format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "set_section_content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_2_new_lines": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "upload_fiinalArticle": {
      "main": [
        [
          {
            "node": "update_article_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_outline_file": {
      "main": [
        [
          {
            "node": "input_brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "section_paragraphs": {
      "main": [
        [
          {
            "node": "section_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change_section_format": {
      "main": [
        [
          {
            "node": "set_section_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_outline": {
      "main": [
        [
          {
            "node": "markdown_to_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T19:44:46.487Z",
  "id": "BuohNSKBGD4Gz9M0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Content Generator",
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('topic_variables').item.json.Title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "11abe711-000c-4960-9f07-4e124532ba83",
      "name": "create_folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        440
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eff28505-c438-4c44-8db4-188797b1e5f3",
              "name": "content",
              "value": "={{ $('create_outline').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8198bcdb-3082-43d8-84aa-77e292b56e05",
      "name": "input_brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda6ee09-0629-4ebc-a4cf-80ebe0172dee",
              "name": "content",
              "value": "={{ $json.content.split(/(?:\\r?\\n){2}## /) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9b2be845-91c5-4fa8-9007-c0cee4058ddd",
      "name": "new_lines",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b2dbae1-2e78-46f4-8be7-6240abf5c1d6",
              "name": "content",
              "value": "={{ $json.content.replace($json.content,$json.content+\"⟵\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5228041-32e7-4834-9d87-6b7152bf97e3",
      "name": "input_sections",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bc2b4fc-7cc9-4aea-b733-5d062b3ee648",
              "name": "message",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "3f599644-8c86-46c6-8048-1166cced462a",
              "name": "idx",
              "value": "={{ $('section_paragraphs').item.pairedItem.item }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4b7020ae-d38e-437c-871e-02f78012f691",
      "name": "section_text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        480
      ]
    },
    {
      "parameters": {},
      "id": "599af95b-391c-4d57-868d-0db6eaa39da1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3660,
        480
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "idx"
            }
          ]
        },
        "options": {}
      },
      "id": "0aa60c0b-0537-4539-8312-0be3cfa6c4de",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3880,
        480
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "f19ef511-bf86-4c4c-9adf-731704bf64ae",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4500,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f410b139-0e21-41ed-9848-260e4bf7cf33",
              "name": "article",
              "value": "={{ $json.message.join() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "568fd895-fce6-4af8-89de-26e51ae5a66d",
      "name": "final_article",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21f3dd4b-db14-472b-94b6-7165206f94e7",
              "name": "message",
              "value": "={{ $json.content+\"\\n\\n\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "771f197a-02e1-4809-9505-e1a3900581f0",
      "name": "set_introduction",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {},
      "id": "3ad780e5-1dcd-43f0-816c-e6f2608461d5",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4280,
        360
      ]
    },
    {
      "parameters": {
        "path": "generator",
        "formTitle": "Content Genrator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is the title of the content?",
              "requiredField": true
            },
            {
              "fieldLabel": "How many words should the content have?",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "What is the primary keyword for the content?",
              "requiredField": true
            },
            {
              "fieldLabel": "What are the secondary keywords for the content?"
            },
            {
              "fieldLabel": "Are there any internal links that should be included in the content?",
              "placeholder": "If so, list here. Including multiple? Separate using commas (link1.com, link2.com)"
            },
            {
              "fieldLabel": "Are there any external links that should be included in the content?",
              "placeholder": "If so, list here. Including multiple? Separate using commas (link1.com, link2.com)"
            },
            {
              "fieldLabel": "Additional instructions or specific requirements for the content."
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "={{ \"Nice work! Your content is generating.\".bold()}} Allow 3-5 minutes for your finished article."
            }
          }
        }
      },
      "id": "1902e5e3-10c2-49e8-8da1-9d1cd6ae681c",
      "name": "receive_topic",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -580,
        440
      ],
      "webhookId": "578f48e7-78a0-4450-b301-a66ca5fe822d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc",
          "mode": "list",
          "cachedResultName": " Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json['What is the title of the content?'] }}",
            "Word Count": "={{ $json['How many words should the content have?'] }}",
            "Primary Keyword": "={{ $json['What is the primary keyword for the content?'] }}",
            "Secondary Keyword(s)": "={{ $json['What are the secondary keywords for the content?'] }}",
            "Internal Links": "={{ $json['Are there any internal links that should be included in the content?'] }}",
            "External Links": "={{ $json['Are there any external links that should be included in the content?'] }}",
            "Additional Instructions": "={{ $json['Additional instructions or specific requirements for the content.'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Keyword(s)",
              "displayName": "Secondary Keyword(s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links",
              "displayName": "External Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Instructions",
              "displayName": "Additional Instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outline Doc",
              "displayName": "Outline Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Article Doc",
              "displayName": "Article Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "af8d14aa-d095-4bce-a525-8427e0f450e2",
      "name": "add_row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -380,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Epe0euL6qKcOzKeG",
          "name": "google"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae56384-1e23-46c7-923f-7635d45eaa35",
              "name": "Title",
              "value": "={{ $('receive_topic').item.json['What is the title of the content?'] }}",
              "type": "string"
            },
            {
              "id": "2c0ac2a3-6b45-4b63-b9f6-c3d51d064203",
              "name": "Word Count",
              "value": "={{ $('receive_topic').item.json['How many words should the content have?'] }}",
              "type": "number"
            },
            {
              "id": "c05d869d-098e-442a-ab8b-21e6feea5987",
              "name": "Primary Keyword",
              "value": "={{ $('receive_topic').item.json['What is the primary keyword for the content?'] }}",
              "type": "string"
            },
            {
              "id": "133a25e4-8f18-44c3-b743-9dee224688e3",
              "name": "Secondary Keywords",
              "value": "={{ $if($('receive_topic').item.json['What are the secondary keywords for the content?'].includes(','),$('receive_topic').item.json['What are the secondary keywords for the content?'].split(','),$('receive_topic').item.json['What are the secondary keywords for the content?']) }}",
              "type": "array"
            },
            {
              "id": "9d77b794-445d-4613-aa04-01ebe004f454",
              "name": "Internal Links",
              "value": "={{ $if($('receive_topic').item.json['Are there any external links that should be included in the content?'].includes(','),$('receive_topic').item.json['Are there any internal links that should be included in the content?'].split(','),$('receive_topic').item.json['Are there any internal links that should be included in the content?']) }}",
              "type": "array"
            },
            {
              "id": "24e92ba2-2448-40b6-af62-749351ff1483",
              "name": "External Links",
              "value": "={{ $if($('receive_topic').item.json['Are there any external links that should be included in the content?'].includes(','),$('receive_topic').item.json['Are there any external links that should be included in the content?'].split(','),$('receive_topic').item.json['Are there any external links that should be included in the content?']) }}",
              "type": "array"
            },
            {
              "id": "7466794b-7994-4d54-a72e-feab7d383556",
              "name": "Additional Instructions",
              "value": "={{ $('receive_topic').item.json['Additional instructions or specific requirements for the content.'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f240ed3-9eff-4ae1-91ec-689a96f1c97e",
      "name": "topic_variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        440
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "message.content",
        "options": {}
      },
      "id": "d4715acb-0f04-45e2-a476-32cec57a840a",
      "name": "markdown_to_file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        600,
        440
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "58db0daf-09cb-420d-a0a0-1fac4f2d97ea",
      "name": "split_out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1480,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a8dc0bb-2bcf-416d-b28e-360a1173042c",
              "leftValue": "={{ $json.content }}",
              "rightValue": "#",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02ed3e37-038e-497d-83af-e8f720b3811d",
      "name": "section_starts_with_#",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71cd7f94-f30d-4eb5-8c31-a0674ef3ffc9",
              "leftValue": "={{ Math.ceil($('section_paragraphs').all().length * 0.25) }}",
              "rightValue": "={{ $json.idx }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3b0138a-ca44-411e-8ecd-7a951fe22919",
      "name": "25_percent_chance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2760,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "071e977f-6534-4635-a2a5-9178709bdfc9",
              "name": "message",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "b1678132-2e98-4fc2-b303-7e89083c287e",
              "name": "=idx",
              "value": "={{ Math.ceil($('section_paragraphs').all().length * 0.25) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "70015edc-babc-4123-9589-ac4c70345fa7",
      "name": "set_section_content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3400,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create an array to hold the rearranged items\nconst rearrangedItems = [];\n\n// Loop over input items and push each message into the rearrangedItems array\nfor (const item of $input.all()) {\n  rearrangedItems[item.json.idx] = {\n    json: {\n      message: item.json.message + '\\n\\n' // Add two new lines at the end of each message\n    }\n  };\n}\n\n// Return the rearranged items\nreturn rearrangedItems.filter(Boolean); // Filter out any undefined entries\n"
      },
      "id": "e413900a-dc61-4150-93ac-308032ec4aed",
      "name": "add_2_new_lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        480
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "article",
        "binaryPropertyName": "final_article",
        "options": {}
      },
      "id": "25110a53-8627-4598-bc11-f2217856e10d",
      "name": "final_article_file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4940,
        360
      ]
    },
    {
      "parameters": {
        "name": "={{ $('topic_variables').item.json['Primary Keyword'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('create_folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0122e867-252d-4e54-8576-5bd3ddc7a464",
      "name": "upload_fiinalArticle",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5160,
        360
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc",
          "mode": "list",
          "cachedResultName": " Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qslCOQCBepqvixsp2RzILDxBlME5siXJRLFF8yC9jlc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('add_row').item.json.Title }}",
            "Outline Doc": "={{ $('upload_outline_file').item.json.webViewLink }}",
            "Article Doc": "={{ $('upload_fiinalArticle').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Word Count",
              "displayName": "Word Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Secondary Keyword(s)",
              "displayName": "Secondary Keyword(s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "External Links",
              "displayName": "External Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Additional Instructions",
              "displayName": "Additional Instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outline Doc",
              "displayName": "Outline Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Doc",
              "displayName": "Article Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e4fa62e3-6c05-4e99-a53e-ede197e2ca02",
      "name": "update_article_link",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5380,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Epe0euL6qKcOzKeG",
          "name": "google"
        }
      }
    },
    {
      "parameters": {
        "name": "=O: {{ $('topic_variables').item.json['Primary Keyword'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('create_folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "578cc443-0261-401c-a948-44f69773cfd7",
      "name": "upload_outline_file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        820,
        440
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're a helpful, intelligent writing assistant",
              "role": "system"
            },
            {
              "content": "=The following is an outline of an award winning article. Your task is to write one section and one section only: the one marked by a \"⟵\". Tone of voice: 50% spartan, casual.\n\n------\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1e70bea-ea88-4b02-9516-ea791b569cd8",
      "name": "section_paragraphs",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        2180,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're a helpful, intelligent writing assistant",
              "role": "system"
            },
            {
              "content": "=Edit the following text to break up the flow. Add bullet points and subheadings where needed for variety. Use Markdown(atx) format."
            },
            {
              "content": "=# Making use of AI Writing Tools\n\nIncorporating AI into your writing workflow requires a strong understanding of the available tools and how they can boost your productivity. Whether you're a novel writer looking to streamline your plot development process or a content marketer aiming to optimize your SEO, AI tools can significantly enhance your efficiency. Among the most versatile tools is ChatGPT, designed by OpenAI. It assists with content generation, ideation, automatic formatting, and translation. Thanks to its machine learning capabilities, the quality of the content it helps generate improves over time based on your input and feedback.\n\nFor those primarily concerned with editing and proofreading, tools like Grammarly and ProWritingAid offer high-quality solutions to streamline the QA process. Using natural language processing, these tools instantly assess your writing for grammatical errors, stylistic issues, and clarity improvements. Both Grammarly and ProWritingAid provide real-time suggestions, allowing you to refine your writing quickly and efficiently. They also offer detailed reports to help you understand patterns in your writing and areas for improvement.\n"
            },
            {
              "content": "# Making use of AI Writing Tools\n\nIncorporating AI into your writing workflow requires a strong understanding of the available tools and how they can boost your productivity. Whether you're a novel writer looking to streamline your plot development process or a content marketer aiming to optimize your SEO, below are a few of the hottest AI tools you can use to improve your productivity.\n\n## AI Writing Tools\n\nAmong the most versatile is ChatGPT, designed by OpenAI. This tool is designed to assist with:\n\n- Content generation,\n- Ideation,\n- Automatic formatting, &\n- Translation\n\nThanks to its machine learning capabilities, the quality of the content it helps you generate even improves over time based on your input and feedback.\n\n## AI Editing Tools\n\nFor those primarily concerned with editing and proofreading, on the other hand, here are a few high-quality tools you can use to skip the QA.\n\n- Grammarly,\n- ProWritingAid\n\nUsing natural language processing, these tools instantly assess your writing for grammatical errors, stylistic issues, and clarity improvements. Both Grammarly and ProWritingAid provide suggestions in real-time, allowing you to refine your writing quickly and efficiently. They also offer detailed reports that help you understand patterns in your writing and areas for improvement.\n",
              "role": "assistant"
            },
            {
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87cf609d-682d-4e17-a1a4-185908a2411c",
      "name": "change_section_format",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        3020,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're a helpful, intelligent writing assistant",
              "role": "system"
            },
            {
              "content": "Use the following JSON brief to write an engaging, comprehensive outline in Markdown format (atx). Tone of voice 50% spartan, casual."
            },
            {
              "content": "={\n\"title\": \"Accessibility in Retail: How to Make Ypur Store More Accessible\",\n\"wordCount\": 1000,\n\"primaryKeword\":\"accessibility in retail\",\n\"secondaryKeywords\":[\"accessible e-commerce\", \"how to make your website more accessible\"],\n\"internalLinks\": [\"https://www.ontario.ca/page/how-make-websites-accessible\"],\n\"externalLinks\": [\"https://www.forbes.com/sites/forbesbusinesscouncil/2023/03/20/understanding-the-importance-of-web-accessibility/\"]\n\"additionalinstructions\": \"Don't pitch the company at all - make it very informative and provide sa uch value as you can.\"\n}"
            },
            {
              "content": "=# Accessibility in Retail: How to Make Your Store More Accessible.\n\nOnline arketplaces have become more popular since the mid-90swjen retail juggernauts like Amazon intially burst onto the scene. Amd while it's true that nearly everybody buyd products in e-commerce store these days, it's crucial to understand that not all consumers have the same needs. \nOver one billion people have diabilities worldwide, meaning up to 15% of the globale population may need assistive technology to use online shopping platforms. Addressing thei needs is critical if you want to maximize your reach & customer experience. \nSo, how exactly does digital accessibility impact businesses, and what can we (practically) do bout it? Read on for answers below.\n\n## Introduction\n- Briefly define what \"accessibility in retail\" means.\n- Highlight the importance of retail accessibility.\n\n## Significance of Accessility in Retail\n- Discuss how creating an accessible retail space can broaden market reach.\n- Discuss some benefits of retail accessibility. \n- Share valuable insights about retail accessibility from [forbes](https://www.forbes.com/sites/forbesbusinesscouncil/2023/03/20/understanding-the-importance-of-web-accessibility/))\n\n## Exploring Accessible E-comerce: The New Normal in Retail\n- Explain the rise and importance of e-commerce in today's retail landscape.\n- Highlight how e-commerce has opened up more possibilities for accessibility in retail.\n\n## Guidance to Make E-commerce Stores Accessible\n- Present some of the key accessibility standards for online stores.\n- Offer brief step-by-step guide on how to make your website accessible.\n- INdicate the best practices in creating accessible e-commerce stores, citing resources from [\"Ontario.ca\"](https://www.ontario.ca/page/how-make-websites-accessible))\n\n## Physical Store Accessibility: Not to be Overlooked\n- Assert the need for physical store accessibility in addition to online stores.\n- Enumerate practical solutions for enhancing physical store accessibility.\n\n## Encouraging Continuous Efforts for Accessibility\n- Inspire readers to continually strive for better accessibility in theire retail environments.\n- Reiterate the benefits of and the need for accessibility in the retail sector for a more inclusive feature.\n\n## Conclusion\n- Sumarixe the key points and lessons learned about retail accessibility. \n- Encourage readers to implement the suggestions provided.",
              "role": "assistant"
            },
            {
              "content": "={\n\"title\": \"{{ $('topic_variables').item.json.Title }}\",\n\"wordCount\": {{ $('topic_variables').item.json['Word Count'] }},\n\"primaryKeyword\":\"{{ $('topic_variables').item.json['Primary Keyword'] }}\",\n\"secondaryKeywords\": {{ $('topic_variables').item.json['Secondary Keywords'] }},\n\"internaLinks\": {{ $('topic_variables').item.json['Internal Links'] }},\n\"externalLinks\": {{ $('topic_variables').item.json['External Links'] }},\n\"additionalinstructions\":\"{{ $('topic_variables').item.json['Additional Instructions'] }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "eecf903b-3d60-4c6e-9972-78803e34682a",
      "name": "create_outline",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        220,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-10-29T13:34:34.000Z",
  "versionId": "a51b752d-0e89-46a7-a423-008466ae9409"
}