workflows/Document using GPT.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-01T18:56:13.378Z",
  "id": "7z9ullpVMNSkPngi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Document using GPT",
  "nodes": [
    {
      "parameters": {},
      "id": "0b5df4fb-a60b-4c1a-b508-d06fc1c6bd8f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        420
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "vVohkgM0uqNSdYmI",
          "mode": "list",
          "cachedResultName": "Imap email (#vVohkgM0uqNSdYmI)"
        },
        "requestOptions": {}
      },
      "id": "8d90ceea-6b5a-40e1-a381-7fcff0e7a6c0",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1020,
        420
      ],
      "credentials": {
        "n8nApi": {
          "id": "mD9deQoldOjwf6Ue",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cef2ac85-4c52-43a3-b59b-e9dd221b3ec2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905bf60f-dc86-490c-a362-6abb4239ef16",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "2bc2ecc5-0d31-4e35-bf68-30149b3599a9",
              "name": "nodes",
              "value": "={{ $json.nodes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d3b70707-0d50-4ad1-9d58-9db0e5ff4432",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ff73c808-96dd-42ed-b563-881011a4d01e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        180
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Explain the logic and functionality of this workflow in markdown format.\n\nWorkflow Name:\n{{ $json.name }}\n\nWorkflow Data:\n{{ $json.nodes }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 3000,
          "temperature": 0.1
        }
      },
      "id": "61805cbb-7d14-4e39-99b4-747f86cacaa0",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1660,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-04T19:47:31.000Z",
  "versionId": "8284d116-2d32-4015-9f3c-cd9e2fc16889"
}