workflows/Job Applications with AI.json
{
  "active": false,
  "connections": {
    "jd_email": {
      "main": [
        [
          {
            "node": "const",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "const": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "previous_cvs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get_all_CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_CVs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "cv_cover_letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cv_cover_letter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "draft_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T17:52:40.243Z",
  "id": "Wd5YzxQ0WKWPjmqs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job Applications with AI",
  "nodes": [
    {
      "parameters": {
        "content": "## Collect the job description and the email address for application and company name\n",
        "height": 260,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        -120
      ],
      "typeVersion": 1,
      "id": "34c41f8a-3129-44ef-9146-c390e3be026e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "Job Application",
        "formDescription": "Paste the job description in the fields below and provide the email where application is to be sent.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Job application email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Applying To",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Subject"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "path": "job-application-with-ai"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -520,
        -40
      ],
      "id": "b0fe98d4-84b8-4217-8e7c-7d2a7a1daf94",
      "name": "jd_email",
      "webhookId": "d1b61687-f28b-4d1a-9df3-24e60d79100e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "319bd73e-ed55-47c8-9518-01d26d24ba01",
              "name": "job_description",
              "value": "={{ $json['Job Description'] }}",
              "type": "string"
            },
            {
              "id": "0d8c9d75-d154-4fc4-9a9f-9fff6b12f56f",
              "name": "job_email",
              "value": "={{ $json['Job application email'] }}",
              "type": "string"
            },
            {
              "id": "178ed06e-05f3-4a09-816a-72e8c4ce8d74",
              "name": "company",
              "value": "={{ $json['Company Applying To'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -40
      ],
      "id": "aacf009e-f23f-4756-9db3-d5c26377e755",
      "name": "const"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: Request for CV and Cover Letter Preparation\n\nHello,\n\nI need your assistance in crafting a tailored CV and Cover Letter for the following job opportunity. Below are the details:\n\nJob Description:\n{{ $json.job_description }}\n\nCompany Name: {{ $json.company }}\nPlease ensure the cover letter explicitly references the company and aligns with their values, mission, or industry.\n\nToday’s Date: {{ $today }}\n\nAdditional Resources:\n\n- Google Drive: You have access to my Google Drive, which contains my past CVs for reference.\n\n\nGuidelines:\n\n- Tailor the CV to highlight skills and experiences that align with the job description.\n\n- Ensure the cover letter is professional, concise, and demonstrates my enthusiasm for the role and the company.\n\n- Use the job description and company name to personalize both documents.\n- Make sure the CV and the Cover Letter are separate.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -120,
        -40
      ],
      "id": "f9e734d4-f21c-4cf8-a99a-75e6c4f629e7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        160
      ],
      "id": "ee836e73-8a26-49d6-9d98-d38ccdf70782",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "content": "## Main Workflow\n",
        "height": 440,
        "width": 780,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -140
      ],
      "typeVersion": 1,
      "id": "ecdff39d-6603-449b-83f1-37cdb7386686",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "name": "previous_cvs",
        "description": "Call this tool to analyze my previous CVs and come up with a summary of relevant projects best fit for the new job description.",
        "workflowId": {
          "__rl": true,
          "value": "Wd5YzxQ0WKWPjmqs",
          "mode": "list",
          "cachedResultName": "Job Applications with AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -40,
        180
      ],
      "id": "acf48280-361a-4bce-a08b-7a3ffa3207ba",
      "name": "previous_cvs"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        460
      ],
      "id": "92139b46-e474-49e2-be9c-c81d85c61953",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        340,
        460
      ],
      "id": "68b34ee5-24ec-4dcd-8196-e980d940659b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1bb3OeMwYDa6PbfE3mI56l2hwepVFXtkd' in parents"
            },
            {
              "name": "key",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        460
      ],
      "id": "7f6257f3-022d-49dc-bf40-259dbdb936ad",
      "name": "get_all_CVs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -60,
        460
      ],
      "id": "36f64b0d-56fb-4f99-bb88-2cebbbfbba87",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c76bc9d6-1bf0-4d8b-9429-0f1149ea1ada",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6902d9c1-cd50-42d1-9209-0fc14edce631",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        460
      ],
      "id": "8742206d-abd3-4f2c-b594-ad1ab3fdf918",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        460
      ],
      "id": "86fbe45e-b391-4692-8908-815153b70727",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        460
      ],
      "id": "33823186-a4df-4626-bd11-74b4f7823efa",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"CV\": \"tailored CV\",\n  \"Cover Leter\": \"tailored cover letter\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        100,
        180
      ],
      "id": "54dad37c-3b45-4d48-afa5-201a62808c45",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fec0445-127e-4143-8362-70d747c62d08",
              "name": "response",
              "value": "={{ $json.data[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        460
      ],
      "id": "4ddaefca-5e61-43e8-8ef3-9aa9987895c9",
      "name": "response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "845b0d62-f5f0-44ec-ab57-bf4be6e95ca7",
              "name": "CV",
              "value": "={{ $json.output.CV }}",
              "type": "string"
            },
            {
              "id": "75201636-2d14-4708-8e67-29f3a3f1ca33",
              "name": "Cover Leter",
              "value": "={{ $json.output['Cover Leter'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -40
      ],
      "id": "5748cebd-94d8-4ea9-9c3f-b57daa675ded",
      "name": "cv_cover_letter"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "CV",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        460,
        -40
      ],
      "id": "8545a1ad-4999-4b1c-bc0b-dc61cee8051b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "## Access all the previous CVs in a google drive, download and return their texts to the AI Agent.\n",
        "height": 340,
        "width": 1820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        360
      ],
      "typeVersion": 1,
      "id": "65a26942-db9f-4546-bd18-3f7d945df82f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Job Application",
        "message": "={{ $('cv_cover_letter').item.json[\"Cover Leter\"] }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        -40
      ],
      "id": "a8310ffd-5151-4216-bc97-432689b744d3",
      "name": "draft_email",
      "webhookId": "151343bd-747c-49c3-ab0d-ae6bca3ef45b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sl6Ly5PwfaJ7GBZC",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create a draft email for further processing and editing.",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        -140
      ],
      "typeVersion": 1,
      "id": "07c7c659-c7b8-440e-ba54-1f1cb30ba268",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-16T11:26:34.000Z",
  "versionId": "d53b1c09-fd98-41a3-bc79-073a38548602"
}