workflows/My workflow 10.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI SysAdmin",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI SysAdmin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic SSH commands": {
      "ai_tool": [
        [
          {
            "node": "AI SysAdmin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute SSH": {
      "ai_tool": [
        [
          {
            "node": "AI SysAdmin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-28T12:01:02.989Z",
  "id": "rx9OyyRhDaDWCWU9",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "822314fd-62d5-4ee5-b3e5-c78b95f1c16b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        220,
        180
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ac51d9e6-5a95-4d0f-9c0a-a51d1ffbf417",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "61927fdb-5d6e-47c2-aa73-bb48e46d41ad",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Get basic SSH commands",
        "url": "https://www.hostinger.com/tutorials/linux-commands"
      },
      "id": "b1cb8b13-212f-4c46-bceb-f5c1541998da",
      "name": "Basic SSH commands",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        420,
        180
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "SSH",
        "description": "Call this tool to execute the bash command on external VPS.\nTo pass a command to execute, you should only pass the command itself.\n",
        "source": "parameter",
        "workflowJson": "{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"workflowInputs\": {\n          \"values\": [\n            {\n              \"name\": \"query\"\n            }\n          ]\n        }\n      },\n      \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n      \"typeVersion\": 1.1,\n      \"position\": [\n        0,\n        0\n      ],\n      \"id\": \"29e380c2-2ecd-465e-a784-f31b1c204b38\",\n      \"name\": \"When Executed by Another Workflow\"\n    },\n    {\n      \"parameters\": {\n        \"command\": \"={{ $json.query }}\"\n      },\n      \"type\": \"n8n-nodes-base.ssh\",\n      \"typeVersion\": 1,\n      \"position\": [\n        220,\n        0\n      ],\n      \"id\": \"81a147e8-e8c8-4c98-8a9b-24de4e0152a0\",\n      \"name\": \"SSH\",\n      \"alwaysOutputData\": true,\n      \"credentials\": {\n        \"sshPassword\": {\n          \"id\": \"VMCCUQkaq46q3CpB\",\n          \"name\": \"SSH Password account\"\n        }\n      },\n      \"onError\": \"continueErrorOutput\"\n    }\n  ],\n  \"pinData\": {},\n  \"connections\": {\n    \"When Executed by Another Workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"SSH\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  }\n}"
      },
      "id": "3fd4be86-e7fd-4639-a91d-92b78a1b4c56",
      "name": "Execute SSH",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        620,
        180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "agent": "reActAgent",
        "promptType": "define",
        "text": "=You are an AI Linux System Administrator Agent expert designed to help manage Linux VPS systems.\nThe user will communicate with you as a fellow colleague. You must understand their final intention and act accordingly.\nYou can execute single-line bash commands inside a VPS using the SSH tool.\nTo pass a command to execute, you should only pass the command itself.\nReplacing null with a command you want to execute.\n\n\nYour objectives are:\n\n### **1. Understand User Intent**\n- Parse user requests related to Linux operations.\n- Accurately interpret the intent to generate valid Linux commands.\n- Accurately interpret the response you receive from a VPS.\n- Provide the user with an interpreted response.\n\n### **2. Refer to tools**\n- **Basic SSH commands**\n- **SSH**\n\n### **3. Restrictions**\n- Do not do destructive actions without confirmation from the user.\n- Under no circumstance execute \"rm -rf\" command.\n\n### **4. Behavior Guidelines**\n- Be concise, precise, and consistent.\n- Ensure all generated commands are compatible with Linux SSH.\n- Rely on system defaults when user input is incomplete.\n- For unknown or unrelated queries, clearly indicate invalid input.\n\n\nUser Prompt \nHere is a request from user: {{ $json.chatInput }}",
        "options": {}
      },
      "id": "e17e5ed6-ca61-4a3a-8eae-6e877a87488b",
      "name": "AI SysAdmin",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        240,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## SSH login credentials\nMake sure to provide the correct SSH credentials ID in this embedded workflow under \"sshPassword\".\n\n",
        "height": 260,
        "width": 360
      },
      "id": "eda87dd4-f254-4f9c-a295-39c63731560d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        40
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-03-28T12:01:03.010Z",
      "updatedAt": "2025-03-28T12:01:03.010Z",
      "role": "workflow:owner",
      "workflowId": "rx9OyyRhDaDWCWU9",
      "projectId": "FYVdBnr1QQmYogvE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-28T12:01:02.989Z",
  "versionId": "a0a032f2-85d1-45ab-b3df-572574a48073"
}