workflows/ToDo App.json
{
  "active": true,
  "connections": {
    "Incoming Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "chatInput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_todays_task": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "chatOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatOutput": {
      "main": [
        [
          {
            "node": "sendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_upcoming_task": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "complete_task": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_todays_tasks": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_upcoming_tasks": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "audio_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio_id": {
      "main": [
        [
          {
            "node": "download_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_audio": {
      "main": [
        [
          {
            "node": "transcribeAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribeAudio": {
      "main": [
        [
          {
            "node": "audioInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audioInput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-22T03:11:11.700Z",
  "id": "9KL8zH4gy1RpWZtR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ToDo App",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1060,
        -320
      ],
      "id": "ca8b122d-1739-4377-ac99-e20dd2341342",
      "name": "Incoming Message",
      "webhookId": "75921955-c8ed-4ff6-8de2-e436c6bbe69d",
      "credentials": {
        "telegramApi": {
          "id": "ayMpCvQ69GjrbPdP",
          "name": "gatu_pa_bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "bearerAuth",
        "path": "562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        -908,
        140
      ],
      "id": "68f7568b-e677-454b-a1e8-6c07a05e7570",
      "name": "MCP Server Trigger",
      "webhookId": "562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee",
      "credentials": {
        "httpBearerAuth": {
          "id": "t7tNRIKRHWQjNvYd",
          "name": "Gatura12345"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant. Whenever askes to update a task, call the get_tasks tools first to retrieve the appropriate task ids then use that to update the tasks.\n\nYOU MUST COMMUNICATE ONLY IN ENGLISH\n\nNote that my name is Francis and you must address me as that.\n\nToday's date: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        292,
        -320
      ],
      "id": "635b8ecc-0f50-477d-8e19-631f868e30f6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "https://ai.gatuservices.info/mcp/562ffc95-cf8e-4d4d-8f5b-29b3ff22d5ee/sse",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        500,
        -100
      ],
      "id": "ab7740dc-bac2-4044-8317-40d90252d992",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "t7tNRIKRHWQjNvYd",
          "name": "Gatura12345"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        -100
      ],
      "id": "5298eee0-747a-496a-a3a2-e395f7c1caa1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lcpI0YZU9bebg3uW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Incoming Message').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        -100
      ],
      "id": "c5b7e10d-2d7c-403c-bcb5-a10033252f97",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab70dc2d-35d0-4742-988f-ed7077633467",
              "name": "chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "6439fc2c-dc2d-41fc-b8a3-b33ef80d2878",
              "name": "id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -220
      ],
      "id": "06d2e8c8-3912-45cd-a074-4eea27c2e5eb",
      "name": "chatInput"
    },
    {
      "parameters": {
        "task": "MDg2MzM1OTA5NzI0NzUzNjUwNjc6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title summary of the task to be done`, 'string') }}",
        "additionalFields": {
          "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `Date the task was completed`, 'string') }}",
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Date the task should be completed`, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Detailed description of the task`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -1060,
        360
      ],
      "id": "a9309816-8c1d-435c-ad49-2e45053718c1",
      "name": "create_todays_task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "8sBGA2BWJuF6SObU",
          "name": "Connected Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6bd510-e63f-41b1-b5b4-d2c612d5b8d0",
              "name": "chatOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -320
      ],
      "id": "ad6cfc1a-7094-434a-98d1-a6f030067091",
      "name": "chatOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Incoming Message').item.json.message.chat.id }}",
        "text": "={{ $json.chatOutput }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        -320
      ],
      "id": "e342066f-3cf8-4926-94df-798e831226be",
      "name": "sendMessage",
      "webhookId": "c5eb133f-338f-4918-8e49-83ac339d841b",
      "credentials": {
        "telegramApi": {
          "id": "ayMpCvQ69GjrbPdP",
          "name": "gatu_pa_bot"
        }
      }
    },
    {
      "parameters": {
        "task": "OFVvNlh6ZmhScHVvNll4dw",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title summary of the task to be done`, 'string') }}",
        "additionalFields": {
          "completed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Completion_Date', `Date the task was completed`, 'string') }}",
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Date the task should be completed`, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Detailed description of the task`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -940,
        360
      ],
      "id": "e4a1bc16-549f-46a2-92a8-a06e6023089c",
      "name": "create_upcoming_task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "8sBGA2BWJuF6SObU",
          "name": "Connected Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MDg2MzM1OTA5NzI0NzUzNjUwNjc6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', `The task id tom be marked as completed. Get it from the get tasks tool`, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -820,
        360
      ],
      "id": "df71bb02-016d-4d56-b80d-404a60c0e7cf",
      "name": "complete_task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "8sBGA2BWJuF6SObU",
          "name": "Connected Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDg2MzM1OTA5NzI0NzUzNjUwNjc6MDow",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -700,
        360
      ],
      "id": "a33812bd-986e-4762-87a0-199ff8a7c9aa",
      "name": "get_todays_tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "8sBGA2BWJuF6SObU",
          "name": "Connected Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "OFVvNlh6ZmhScHVvNll4dw",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -580,
        360
      ],
      "id": "dcb3a6c9-5d7c-4fe6-8b52-f07cf74cfa0c",
      "name": "get_upcoming_tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "8sBGA2BWJuF6SObU",
          "name": "Connected Account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8415cc8d-65a2-448e-a106-1ceb54634dfd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Note"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -840,
        -320
      ],
      "id": "ce63c24a-ce2f-4e06-8ae5-7de75540d438",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb7f5d62-e4f3-4b4e-9f1b-6c329feafb3e",
              "name": "file_id",
              "value": "={{ $json.message.voice.file_id }}",
              "type": "string"
            },
            {
              "id": "803031b8-6b21-47fa-b339-ad674ccbbb1e",
              "name": "file_unique_id",
              "value": "={{ $json.message.voice.file_unique_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        -420
      ],
      "id": "a58488c3-38b8-4492-9f13-a900c7697812",
      "name": "audio_id"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        -420
      ],
      "id": "83c2ecae-b601-4669-b820-b5c35d3f936e",
      "name": "download_audio",
      "webhookId": "c2dbc0eb-0f3a-4f11-9525-804bd5bef4b1",
      "credentials": {
        "telegramApi": {
          "id": "ayMpCvQ69GjrbPdP",
          "name": "gatu_pa_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -180,
        -420
      ],
      "id": "4a496e3a-2e3a-4ce0-9344-192847de1760",
      "name": "transcribeAudio",
      "credentials": {
        "openAiApi": {
          "id": "lcpI0YZU9bebg3uW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d57b4fc2-10f7-46cd-a89c-0021a92f41d1",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -420
      ],
      "id": "38b6aa37-d279-4b1b-be42-7f7cc1bbe688",
      "name": "audioInput"
    },
    {
      "parameters": {
        "content": "## Main Function to Receive and Send Telegram Messages\n",
        "height": 540,
        "width": 2180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1110,
        -500
      ],
      "typeVersion": 1,
      "id": "e524f12f-205f-4fc8-b2f0-b308ec4066b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## MCP Server to Carry Out Actions",
        "height": 480,
        "width": 760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1160,
        20
      ],
      "typeVersion": 1,
      "id": "709b252a-b5e8-4c7e-8bcd-a7092d588070",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Incoming Message": [
      {
        "json": {
          "update_id": 656804764,
          "message": {
            "message_id": 24,
            "from": {
              "id": 6043747866,
              "is_bot": false,
              "first_name": "Gatu",
              "language_code": "en"
            },
            "chat": {
              "id": 6043747866,
              "first_name": "Gatu",
              "type": "private"
            },
            "date": 1745294191,
            "voice": {
              "duration": 2,
              "mime_type": "audio/ogg",
              "file_id": "AwACAgQAAxkBAAMYaAcTb6Sm3bpJ_8Cc2q1q4vC7MLYAAg8ZAAJAOjlQQhWQOxUBqfU2BA",
              "file_unique_id": "AgADDxkAAkA6OVA",
              "file_size": 9854
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-04-22T03:11:11.708Z",
      "updatedAt": "2025-04-22T03:11:11.708Z",
      "role": "workflow:owner",
      "workflowId": "9KL8zH4gy1RpWZtR",
      "projectId": "FYVdBnr1QQmYogvE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-04-24T05:19:02.000Z",
  "versionId": "467d3236-c843-4c28-8730-90e1754cb312"
}