workflows/ToDo App.json
{
  "active": false,
  "connections": {
    "taskAdded": {
      "main": [
        [
          {
            "node": "taskDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taskDetails": {
      "main": [
        [
          {
            "node": "daysDifference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "theBrain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "createTask": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "daysDifference": {
      "main": [
        [
          {
            "node": "future?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "future?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-24T08:01:08.683Z",
  "id": "dap4U3PaUdRM6R9Y",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ToDo App",
  "nodes": [
    {
      "parameters": {
        "content": "## Capture Responses\n- ### Subject\n- ### Description\n- ### Date\n- ### Time",
        "height": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        -80
      ],
      "typeVersion": 1,
      "id": "59d870bd-3ffb-422d-be4b-16de7501eb4f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "ToDo App",
        "formDescription": "Create a task using this form.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Subject",
              "placeholder": "Go Shopping",
              "requiredField": true
            },
            {
              "fieldLabel": "Task Details",
              "fieldType": "textarea",
              "placeholder": "Go to carrefour and buy necessities."
            },
            {
              "fieldLabel": "When?",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Time?",
              "placeholder": "Write the time in 24hour format e.g 2000 or 1900",
              "requiredField": true
            },
            {
              "fieldLabel": "How long will this task take?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "20 min"
                  },
                  {
                    "option": "30 min"
                  },
                  {
                    "option": "45 min"
                  },
                  {
                    "option": "1 hr"
                  },
                  {
                    "option": "1 hr 30 min"
                  },
                  {
                    "option": "2 hrs"
                  },
                  {
                    "option": "3 hrs"
                  }
                ]
              }
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": true,
          "buttonLabel": "Submit",
          "path": "todo",
          "ignoreBots": false,
          "useWorkflowTimezone": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -200,
        -60
      ],
      "id": "42359835-340b-4200-a9db-bdf5c954d7de",
      "name": "taskAdded",
      "webhookId": "a3fc2593-0374-4375-b1ff-9f53777b0bb1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d3860f4-e309-4c39-a91b-b040e71a3e67",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "a766642e-0ed8-4bb9-a026-536edbbc1211",
              "name": "Task Details",
              "value": "={{ $json['Task Details'] }}",
              "type": "string"
            },
            {
              "id": "f4edb01f-d4cd-4a9b-b498-89a6cba27f7e",
              "name": "When?",
              "value": "={{ $json['When?'] }}",
              "type": "string"
            },
            {
              "id": "99b62b3f-ddcf-4089-a012-06cae11a0557",
              "name": "Time?",
              "value": "={{ $json['Time?'] }}",
              "type": "string"
            },
            {
              "id": "5e44e2d7-49e0-41d4-a593-4d7ec367de2f",
              "name": "How long will this task take?",
              "value": "={{ $json['How long will this task take?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -60
      ],
      "id": "0902a224-ee59-4225-ad9a-9a1a56e2bbb4",
      "name": "taskDetails"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Schedule a task in my calendar with the following details:\n\nSubject: {{ $('taskDetails').item.json.Subject }}\nDescription: {{ $('taskDetails').item.json['Task Details'] }}\nDate: {{ $('taskDetails').item.json['When?'] }}\nStart Time: {{ $('taskDetails').item.json['Time?'] }}\nDuration: {{ $('taskDetails').item.json['How long will this task take?'] }}\n\nEnsure the task is accurately added to the calendar.\n\nYou have access to the following tools:\n- 'createTask' => Use this tool to create an event in my calendar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        -80
      ],
      "id": "c9775b81-35dd-4bf1-978e-3e1f25c0f96a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        680,
        80
      ],
      "id": "77517152-04ae-4295-9d3e-c4b19066d54a",
      "name": "theBrain",
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gaturanjenga@gmail.com",
          "mode": "list",
          "cachedResultName": "gaturanjenga@gmail.com"
        },
        "start": "={{ $fromAI(\"start_time\") }}",
        "end": "={{ $fromAI(\"end_time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"description\", \"the description of the task / event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        980,
        80
      ],
      "id": "ab2d6745-1890-4f3a-973a-f76f42337a11",
      "name": "createTask",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "nzPOQoEN0ibAA9xT",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        -200,
        -240
      ],
      "id": "c454c889-1917-43a5-83ec-e975b335fd0b",
      "name": "Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "U30KzLXAQ26Y03Be",
          "name": "Google Tasks account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Validate the date is >= today and the time is >= now",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -180
      ],
      "typeVersion": 1,
      "id": "5722d9ab-a35d-41bd-83de-7e94ad5a29c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json[\"When?\"] }}",
        "outputFieldName": "daysDifference",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        220,
        -60
      ],
      "id": "b190e9ba-e989-4222-b6ce-76bc82d1a93d",
      "name": "daysDifference"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57298919-eae2-4daa-861c-bdb2deb846db",
              "leftValue": "={{ $json.daysDifference.days }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -60
      ],
      "id": "05ca3f17-f49c-44ba-8176-b0ae131fd7c0",
      "name": "future?"
    },
    {
      "parameters": {
        "content": "## Agent to access calendar and create event, check if times are conflicting, e.t.c",
        "height": 340,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -160
      ],
      "typeVersion": 1,
      "id": "286fa056-d02e-48a5-b044-7dd18d9ac161",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Go Back?"
            }
          ]
        },
        "options": {
          "formTitle": "",
          "formDescription": "=The date selected {{ $('taskAdded').item.json['When?'] }} is before today. All tasks must be today or later.",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "id": "0fb415b5-04e9-41db-ae49-a0fdd2b0a21c",
      "name": "Form",
      "webhookId": "2cb4bfda-a0cd-4d2e-a78b-5d35ae8fc01d"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T12:29:46.000Z",
  "versionId": "49b3bc64-0b05-48f6-a062-1e55659a483b"
}