workflows/Trello & Pinecone.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "board_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "board_id": {
      "main": [
        [
          {
            "node": "all_lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "all_lists": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trello": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-09T02:34:36.952Z",
  "id": "9nQ6dj9ZxhJ3Mahd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trello & Pinecone",
  "nodes": [
    {
      "parameters": {},
      "id": "10ad5be6-01c9-47c2-a797-e0c1a6dc5448",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42d8b8d2-4f9d-4214-88c6-d71d5cf0b5be",
              "name": "b_id",
              "value": "62b1d3ef56cdca107d3aec95",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68e10128-173c-4fe3-b897-681c6359258f",
      "name": "board_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        540
      ]
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "id": "={{ $json.b_id }}",
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "009f5c01-f383-429f-8ef2-f5595a7e1e05",
      "name": "all_lists",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        920,
        540
      ],
      "credentials": {
        "trelloApi": {
          "id": "28KcZZoExcvdC6un",
          "name": "bulkbox"
        }
      }
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getCards",
        "id": "={{ $json.id }}",
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "f1514be3-a052-48dc-8c44-48c89e53b6eb",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1140,
        540
      ],
      "credentials": {
        "trelloApi": {
          "id": "28KcZZoExcvdC6un",
          "name": "bulkbox"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fd1edf23-6653-4f0a-9d2a-49c17bc792ab",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1360,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c7956e3f-bdc0-488b-b998-78b3be852936",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1560,
        760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5bb5d288-7f55-4b11-888a-8d7ea4141f84",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1560,
        980
      ]
    },
    {
      "parameters": {
        "path": "7dcb1d24-4dba-4fbf-9846-445ead3b027e",
        "formFields": {
          "values": [
            {
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "1facdc0f-96f1-47ad-8e3e-728076570720",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        500,
        1100
      ],
      "webhookId": "7dcb1d24-4dba-4fbf-9846-445ead3b027e"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "trello-test",
          "mode": "list",
          "cachedResultName": "trello-test"
        },
        "options": {}
      },
      "id": "2732636c-5290-43fb-a31e-a5a0d76af7e1",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1360,
        540
      ],
      "credentials": {
        "pineconeApi": {
          "id": "R5yo0MgikqxTgmhY",
          "name": "My Account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-22T17:23:13.000Z",
  "versionId": "28736f7b-0224-410a-a92c-520fccf17a3f"
}