workflows/Workflow Documentation with AI.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_workflow": {
      "main": [
        [
          {
            "node": "name&nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "name&nodes": {
      "main": [
        [
          {
            "node": "generate_documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_documentation": {
      "main": [
        [
          {
            "node": "set_generated_documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_generated_documentation": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T08:53:52.443Z",
  "id": "vXlg5Y6P7O1efoNo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow Documentation with AI",
  "nodes": [
    {
      "parameters": {
        "content": "- [ ] Trigger\n1. Specific Time?\n2. When a workflow is activated?\n3. When an active workflow is updated?\n\n- [ ] Github Upload Link\n- [ ] Get screenshot of workflow\n- [ ] Download JSON of workflow\n- [ ] Update / Create Database\n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -60
      ],
      "id": "8c00a264-dff2-4d3f-9e74-3dd6ec3f3aa3",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -280
      ],
      "id": "c6f2572f-1f40-4ec0-b459-9c937bf4c00e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Manual Documentation\n\n- Can document active and inactive workflows\n",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -300
      ],
      "typeVersion": 1,
      "id": "617a83f7-e534-40eb-aad4-1f8c1c17f5a5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "PibklBN5edmvUagq",
          "mode": "list",
          "cachedResultName": "Chat - HMRC (#PibklBN5edmvUagq)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        300,
        -280
      ],
      "id": "22c40dcf-0e52-4acc-80a0-c42c6d603495",
      "name": "get_workflow",
      "credentials": {
        "n8nApi": {
          "id": "KH6RtlUHiFKqBMJV",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        300,
        -20
      ],
      "id": "b7379bc4-4d48-4e65-b241-67e83b7f507c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        360,
        -760
      ],
      "id": "abc77729-56a9-4fbd-aef8-57ffdcd1d7ea",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        -400
      ],
      "id": "3a54425e-1c03-44ca-b4e6-eb1c3547b82d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lcpI0YZU9bebg3uW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905bf60f-dc86-490c-a362-6abb4239ef16",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "2bc2ecc5-0d31-4e35-bf68-30149b3599a9",
              "name": "nodes",
              "value": "={{ $json.nodes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95ee6012-2b5b-4cc8-8af8-9e6afd759941",
      "name": "name&nodes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        -280
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Workflow Documentation Template\n\n## Provide a Detailed Description\n\nWrite a clear and concise description of the workflow, outlining its functionality and expected outcomes.  \nFocus on making it informative and user-friendly, while also optimizing for discoverability (SEO).\n\n---\n\n## Structure the Documentation\n\nInclude the following sections for clarity:\n\n### Who is this for?\nSpecify the intended audience or users of the workflow.\n\n### What problem does this workflow solve?\nHighlight the use case and explain why the workflow is useful.\n\n### What this workflow does\nProvide an overview of the workflow’s functionality and outputs.\n\n### Setup\nDetail any prerequisites (e.g., API keys, credentials, or integrations) and guide the user through the setup process.\n\n### How to customize this workflow\nOffer suggestions or instructions for adapting the workflow to different needs.\n\n---\n\n## Template Information\n\n- **Workflow Name:** `{{ $json.name }}`\n- **Workflow Data:** `{{ $json.nodes }}`\n"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 3000,
          "temperature": 0.1
        }
      },
      "id": "2195a612-c8c2-4bb2-85f6-fba70cfed45d",
      "name": "generate_documentation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        740,
        -280
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "629c0903-08a1-4504-aea8-95c2ec9300e0",
              "name": "content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -280
      ],
      "id": "9eeee91b-a5d1-41e5-b72d-2e2e86516972",
      "name": "set_generated_documentation"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "url",
          "value": "",
          "__regex": "(?:https|http)://www\\.notion\\.so/(?:[a-z0-9-]{2,}/)?([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1320,
        -280
      ],
      "id": "cd56fc2b-a227-4f26-952e-4bbe8633702b",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "eU3a6XL7bcWzXDzB",
          "name": "My Workspace"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-23T09:44:47.000Z",
  "versionId": "c9475439-e87f-47c0-826b-98b78045f250"
}