workflows/Workflow Documentation with AI.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "name&nodes": {
      "main": [
        [
          {
            "node": "generate_documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_documentation": {
      "main": [
        [
          {
            "node": "set_generated_documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_generated_documentation": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "name&nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T08:53:52.443Z",
  "id": "vXlg5Y6P7O1efoNo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow Documentation with AI",
  "nodes": [
    {
      "parameters": {
        "content": "- [ ] Trigger\n1. Specific Time?\n2. When a workflow is activated?\n3. When an active workflow is updated?\n\n- [ ] Github Upload Link\n- [ ] Get screenshot of workflow\n- [ ] Download JSON of workflow\n- [ ] Update / Create Database\n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -60
      ],
      "id": "8c00a264-dff2-4d3f-9e74-3dd6ec3f3aa3",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -280
      ],
      "id": "c6f2572f-1f40-4ec0-b459-9c937bf4c00e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Manual Documentation\n\n- Can document active and inactive workflows\n\n\n## MAKE USE OF GITHUB\n",
        "height": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -300
      ],
      "typeVersion": 1,
      "id": "617a83f7-e534-40eb-aad4-1f8c1c17f5a5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "PibklBN5edmvUagq",
          "mode": "list",
          "cachedResultName": "Chat - HMRC (#PibklBN5edmvUagq)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        300,
        -280
      ],
      "id": "22c40dcf-0e52-4acc-80a0-c42c6d603495",
      "name": "get_workflow",
      "credentials": {
        "n8nApi": {
          "id": "KH6RtlUHiFKqBMJV",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        520,
        -280
      ],
      "id": "b7379bc4-4d48-4e65-b241-67e83b7f507c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905bf60f-dc86-490c-a362-6abb4239ef16",
              "name": "name",
              "value": "={{ $('get_workflow').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2bc2ecc5-0d31-4e35-bf68-30149b3599a9",
              "name": "nodes",
              "value": "={{ $('get_workflow').item.json.nodes }}",
              "type": "string"
            },
            {
              "id": "2f2b02c5-fed4-4f54-935a-f5fe9d98beec",
              "name": "webViewLinkFIle",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95ee6012-2b5b-4cc8-8af8-9e6afd759941",
      "name": "name&nodes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -280
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Workflow Documentation Template\n\n## Provide a Detailed Description\n\nWrite a clear and concise description of the workflow, outlining its functionality and expected outcomes.  \nFocus on making it informative and user-friendly, while also optimizing for discoverability (SEO).\n\n---\n\n## Structure the Documentation\n\nInclude the following sections for clarity:\n\n### Who is this for?\nSpecify the intended audience or users of the workflow.\n\n### What problem does this workflow solve?\nHighlight the use case and explain why the workflow is useful.\n\n### What this workflow does\nProvide an overview of the workflow’s functionality and outputs.\n\n### Setup\nDetail any prerequisites (e.g., API keys, credentials, or integrations) and guide the user through the setup process.\n\n### How to customize this workflow\nOffer suggestions or instructions for adapting the workflow to different needs.\n\n---\n\n## Template Information\n\n- **Workflow Name:** `{{ $json.name }}`\n- **Workflow Data:** `{{ $json.nodes }}`\n"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 3000,
          "temperature": 0.1
        }
      },
      "id": "2195a612-c8c2-4bb2-85f6-fba70cfed45d",
      "name": "generate_documentation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1160,
        -280
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "629c0903-08a1-4504-aea8-95c2ec9300e0",
              "name": "content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -280
      ],
      "id": "9eeee91b-a5d1-41e5-b72d-2e2e86516972",
      "name": "set_generated_documentation"
    },
    {
      "parameters": {
        "name": "={{ $('get_workflow').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JzPqPOHBpWBOGk8aWOrVzKM-oq9SPs_3",
          "mode": "list",
          "cachedResultName": "n8n Documentation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JzPqPOHBpWBOGk8aWOrVzKM-oq9SPs_3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        740,
        -280
      ],
      "id": "e4e6c4d5-6e33-46a7-b1f6-18ecf15c0b6f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MHcgKR744VHXSe3X",
          "name": "Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1JzPqPOHBpWBOGk8aWOrVzKM-oq9SPs_3",
        "title": "={{ $('name&nodes').item.json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1740,
        -280
      ],
      "id": "c817ca4f-76bf-4842-9e8e-c5e1b4ab5509",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "zF1VnrEp6I9Pfxn8",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('set_generated_documentation').item.json.content }}"
            },
            {
              "object": "pageBreak",
              "action": "insert"
            },
            {
              "action": "insert",
              "text": "={{ $('Google Drive').item.json.webViewLink }}\n\n\n\n\n{{ $('name&nodes').item.json.nodes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1960,
        -280
      ],
      "id": "aa15df6f-7416-4f42-a20d-4d1cd1320702",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "zF1VnrEp6I9Pfxn8",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-23T08:53:52.454Z",
      "updatedAt": "2025-04-23T08:53:52.454Z",
      "role": "workflow:owner",
      "workflowId": "vXlg5Y6P7O1efoNo",
      "projectId": "FYVdBnr1QQmYogvE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-27T20:29:19.000Z",
  "versionId": "f846ffc1-fc35-4b96-b589-640fbe947a17"
}